<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="WindowsFormsApp1.Properties.Settings.FOODConnectionString" connectionString="Data Source=fooddb.database.windows.net;Initial Catalog=FOOD;User ID=msit130;Password=xxxyyy1!" providerName="System.Data.SqlClient" />
    <add name="FOODEntities" connectionString="metadata=res://*/FoodModel.csdl|res://*/FoodModel.ssdl|res://*/FoodModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=fooddb.database.windows.net;initial catalog=FOOD;persist security info=True;user id=msit130;password=xxxyyy1!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>